{%  extends 'main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <form action="" method="POST">
                {% csrf_token %}
                <p>create new services</p>
                {% for i in formm %}
                    <div class='field'>
                        <label for="{{ i.id_for_label}}" class="label">{{i.html_name}}</label>
                        {{i}}
                    </div>
                    
                    <hr>
                {% endfor %}
                
                <input type="submit" name="Save">
            </form>

        </div>
    </div>
</div>


{% endblock %}